---
questions:
  - name: owner
    question: Who owns of the service?
    required: true
  - name: on-call
    question: What is the SLA for on-call?
    required: true
    default: 0
    options:
      - display: No on-call
        value: none
      - display: Business Hours (06:00-20:00), excluding weekends and public holidays
        value: business-hours
      - display: Business Hours (06:00-20:00), including weekends and public holidays
        value: business-hours-holidays
      - display: Mission Critical, on-call 24/7
        value: twenty-four-seven
  - name: on-call-group
    question: What is the on-call group?
    required: true
    condition:
      question: on-call
      values:
        - business-hours
        - business-hours-holidays
        - twenty-four-seven
    options:
      - display: DevOps
        value: "dev-ops"